@media screen and (max-width: 1300px) {
	.heading-bold {
	    font-size: 40px;
	    line-height: 40px;
	}
	.p-padded {
	    width: 100%;
	    margin: 10px 0 15px;
	    font-size: 22px;
	}
	.second-footer-menu1, .second-footer-menu2 {
		font-size: 20px;
	}
}