
*:focus{ outline: none;}

img{ border: 0px;}

body{
	margin: 0px;
	padding: 0px;
	background-color: #ffffff;
	font-family: 'akkuratregular';
}
a{
	text-decoration: none;
}
.main {
    max-width: 1100px;
    margin: 0 auto;
    width: 100%;
}
/* float clearing for everyone else */
.clearfix:after{
  clear: both;
  content: ".";
  display: block;
  height: 0;
  visibility: hidden;
  font-size: 0;
}
/* For IE 6/7 (trigger hasLayout) */
.clearfix{
	zoom: 1
}

.nobreak{
	white-space: nowrap;
}

/*--------- Wrapper classes ---------*/
.page-wrapper{
	width: 100%;
}
.content-wrapper{
	display: inline-block;
	float: left;
	width: calc(100% - 40px);
	padding: 20px 20px 0;
	margin: 0 auto;
}
.col-of-1{
	width: calc(100% - 16px);
	padding: 8px;
}
.col-of-2{
	width: calc(50% - 16px);
	padding: 8px;
	float: left;
	display: block;
}
.col-of-3{
	width: calc(33% - 16px);
	padding: 8px;
	float: left;
	display: block;
}
.col-of-4{
	box-sizing: border-box;
	width: 25%;
	padding: 8px;
	float: left;
	display: block;
}
.col-of-4-20p{
	box-sizing: border-box;
	width: 20%;
	padding: 8px;
	float: left;
	display: block;
}
.col-of-4-23p{
	box-sizing: border-box;
	width: 23%;
	padding: 8px;
	float: left;
	display: block;
}
.col-of-4-30p{
	width: calc(30% - 2px);
	padding: 1px;
	float: left;
	display: block;
}
.col-of-4-34p{
	width: calc(34% - 2px);
	padding: 1px;
	float: left;
	display: block;
}
.col-of-3-33p:first-child {
	margin-left: 0;
}
.col-of-3-33p{
	margin-left: 10px;
	width: calc(33% - 12px);
	padding: 1px;
	float: left;
	display: block;
}
.col-of-4-20p{
	width: calc(20% - 2px);
	padding: 1px;
	float: left;
	display: block;
}
.col-of-4-13p {
	width: calc(13% - 2px);
	padding: 1px;
	float: left;
	display: block;
}
.col-of-4-10p {
	width: calc(10% - 2px);
	padding: 1px;
	float: left;
	display: block;
}


/*======== when width less than 1000px =========*/
@media screen and (max-width: 1017px){
	/*.content-wrapper{
		width: calc(100% - 20px);
	}*/
}
@media screen and (max-width: 768px){
	.col-of-3{
		width: calc(100% - 16px);
	}
	.col-of-4{
		width: calc(50% - 16px);
	}
	.col-of-4:nth-child(3){
		clear: left;
	}
}
@media screen and (max-width: 480px){
	.col-of-4{
		width: calc(100% - 16px);
	}
	.col-of-2{
		width: calc(100% - 16px);
	}
	
	.col-of-4-30p{
		width: calc(100% - 2px);
	}
	.col-of-4-20p{
		width: calc(50% - 2px);
	}
}




