@import url('fonts.css');

.page-wrapper.search-page {
	padding-left: 400px;
}
.page-wrapper {
	/*padding-top: 90px;*/
	box-sizing: border-box;
}
.big-background-top{
	background-image: url(../images/top-back.gif);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	overflow:hidden;	
    z-index: 9;
}
.content-wrapper.section-full-screen {
	background-color: #fff;
    bottom: 0;
    overflow: hidden;
    position: absolute;
    width: 100%;
    box-sizing: border-box;
    padding-top: 100px;
}
.section-02 {
	z-index: 8;
}
.section-03 {
	z-index: 7;
}
.footer-background{
	background-image: url(../images/footer-back.jpg); 
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #714B5D;
}
.search-page .footer-background{
	background-image: none;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #714B5D;
}

.footer-address{
	font-size: 18px;
	font-style: normal;
	text-transform: uppercase;
	font-weight: bold;
	font-family: 'akkuratregular';
	line-height: 25px;
	color: #1c1c1c;
}


footer h3{
	font-size: 23px;
	color: #1c1c1c;
	margin: 0 0 15px;
}
footer ul{
	list-style: none;
	margin: 0px;
	padding: 0px;
	font-size: 18px;
	color: #000000;
}
footer ul li{
	padding: 0 0 6px 0;
}
footer ul li a{
	color: #1c1c1c;
	font-weight: bold;
	font-family: 'akkuratregular';
}
footer ul li a:hover{
	color: #ffffff;
}

.centered-text{
	text-align: center;
}
/* -- Color --*/
.light-black{
	color: #3c3c3c;
}

form.newsletter {
    float: left;
    width: 100%;
    padding-right: 20%;
    box-sizing: border-box;
}
.newsletter input[type=text]{
	border: 0px;
    padding: 12px 10px;
    width: 75%;
    display: block;
    float: left;
}
.newsletter input[type=submit]{
	background: none;
	border: 2px solid #000000;
	padding-top: 10px;
	padding-bottom: 10px;
	color: #000000;
	font-size: 14px;
	text-transform: uppercase;
	width: calc(25% - 4px);
	text-align: center;
	display: block;
	float: left;
	cursor: pointer;
	transition: all 0.4s;
    height: 47px;
    margin-left: 3px;
}
.newsletter input[type=submit]:hover{
	background-color: #3c3c3c;
	color: #cccccc;
	/*height: 47px;
    margin-left: 3px;
	margin-top: -19px;*/
}
.social a{
	margin-right: 3px;
}
.search-form{
	display: block;
	background-image: url(../images/light-back.png);
	color: #ffffff;
	width: 73%;
	/*margin-top: 5px;*/
	padding: 27px 12px;
	float: left;
}
.search-btn{	
	margin: 0px 0px 10px;
	background: url(../images/search.png) no-repeat #996699 90%;
	border: none;
	font-size: 20px;
	padding: 0px 62px 0px 10px;
	color: #ffffff;
	cursor: pointer;
	box-sizing: border-box;
    height: 120px;
	width: 22%;
}
form.form-search {
    display: inline-block;
	position: relative;
	width: 900px;
}
.search-form label{
	display: block;
	clear: both;
	margin-bottom: 3px;
}
.search-form select{
	width: 100%;
	padding: 10px 20px;
	font-weight: bold;
}


.p-padded{
	width: 1100px;
	margin: auto;
	font-size: 24px;
	margin-top: 10px;
}
.logo{
	display: block;
	float: left;
}

.icon.bag{
	display: block;
	float: right;
	background-image: url(../images/menu-icons-bag.png);
	background-repeat: no-repeat;
	background-position: right;
}
.icon.menu{
	display: block;
	float: right;
	background-image: url(../images/menu-icons-sandwitch.png);
	background-repeat: no-repeat;
	background-position: bottom right;
}
.icon.bag1{
	display: block;
	float: right;
	background-image: url(../images/menu-icons-bag1.png);
	background-repeat: no-repeat;
	background-position: right;
}
.icon.menu1{
	display: block;
	float: right;
	background-image: url(../images/menu-icons-sandwitch1.png);
	background-repeat: no-repeat;
	background-position: bottom right;
}
.top-menu{
	display: block;
    float: right;
    list-style: none;
    /* margin-top: 0px; */
    padding: 0px 35px 0 0;
    position: absolute;
    right: 0;
    top: 0;
}
.top-menu li{
	display: block;
	float: left;
	padding-left: 5px;
}
.top-menu li a{
	font-size: 19px;
	color: #ffffff;
	padding-right: 32px;
	padding-top: 16px;
	font-family: 'akkuratregular';
}
.top-menu li a.light-black{
	font-size: 19px;
	color: #3c3c3c;
	padding-right: 32px;
	padding-top: 16px;
	font-family: 'akkuratregular';
}
.text-big {
	color: #ffffff;
	font-family: 'akkuratregular';
	font-size: 43px;
	padding: 0px;
	margin-bottom: 0px;
}
.text-big-bold {
	color: #ffffff;
	font-family: 'akkuratbold';
	font-size: 43px;
	padding: 0px;
	margin-top: 0px;
	margin-bottom: 10px;
}

.heading-bold{
	font-family: 'akkuratbold';
	font-weight: bold;
	font-size: 50px;
	line-height: 50px;
	margin: 0;
}

.section-mid{
	clear: both;
	margin-top: 8%;
}

.copyright-text{
	margin-top: 0px;
	font-size: 20px;
	font-weight: bold;
}

.second-footer-menu{
	margin-top: 40px;
	font-size: 24px;
}

.my_packages{
	float: left;
	padding: 0;
	width: 100%;
	margin-top: 20px;
	position: relative;
}

.button-trans{
	background-color: #ffffff;
	color: #000000;
	clear: right;
	display: block;
	padding: 12px 15px;
	font-size: 22px;
	width: 160px;
	float: left;
	margin-right: 1px;
	text-align: center;
}
/*.button-trans.white{
	background-color: #ffffff;
	color: #000000;
	clear: right;
}*/
a.button-trans:hover {
	background-image: url(../images/light-back.png);
	background-color: rgba(0,0,0,0);
	color: #ffffff;
}
.button-trans.black{
	background-image: url(../images/light-back.png);
	background-color: rgba(0,0,0,0);
	color: #ffffff;
}
.second-footer-menu1{
    margin-top: 40px;
    font-size: 24px;
    border-left: 3px solid #000000;
    min-height: 144px;
    padding-left: 27px;
}
.second-footer-menu2{
	margin-top: 40px;
	font-size: 24px;
	border-right:3px solid #000000;
    min-height: 144px;
    margin-right: 5%;
}
		
	.opacity {
    opacity: 0.4;
    filter: alpha(opacity=40); 

	}

.opacity:hover {
    opacity: 1.0;
    filter: alpha(opacity=100);
}
.opacity.hover, .opacity.hover1 {
    opacity: 1.0;
    filter: alpha(opacity=100);
}
.elastislide-horizontal ul li {
    position: relative;
}

.search-btn.click
{
	background-color:green;
}
.search-result
{
    padding: 29px 12px 25px;
}

input[type="text"] {
	box-sizing: border-box;
 	padding: 7px 19px;
	font-size: 19px;
	width: 100%;
}
form.get-deal {
    margin: 100px 0;
    text-align: center;
}
.get-deal input {
    display: block;
    width: 70%;
    margin: 10px auto 0;
    height: 30px;
    font-size: 15px;
    line-height: 20px;
    background-color: #666;
    border: 1px solid #333;
    padding: 3px 15px;
    border-radius: 5px;
    box-sizing: border-box;
    color: #fff;
}
.get-deal input[type="submit"] {
	border-radius: 2px;
    height: 25px;
    width: 100px;
    background-color: green;
    border: 0 none;
    color: #fff;
	cursor: pointer;
}
/*.deal-form.form1 {
	left: 3px;
}
.deal-form.form2 {
	left: calc(25% + 7px);
}
.deal-form.form3 {
	left: calc(50% + 12.5px);
}
.deal-form.form4 {
	left: calc(75% + 15px);
}*/
.deal-form {
	background: rgba(0,0,0,.7);
	display: none;
	position: absolute;
	height: 100%;
	top: 0;
	width: 100%;
	z-index: 9;
}
.elastislide-horizontal ul li {
	text-align: center;
}
.circ {
    background: rgba(137, 101, 139,.7);
    border: 2px solid #ffffff;
    border-radius: 100%;
	box-sizing: border-box;
    cursor: pointer;
    padding: 31px 17px;
    position: absolute;
	width: 110px;
    z-index: 9;
    height: 110px;
    left: 0;
    right: 0;
    margin: 110px auto;
}

.deal{
	color: #ffffff;
    margin: -14.1% 119px;
    position: absolute;
    font-size: 21px;
}
.deal1{
	color: #ffffff;
    margin: -14.1% 468px;
    position: absolute;
    font-size: 21px;
}
.deal2{
	color: #ffffff;
    margin: -14.1% 799px;
    position: absolute;
    font-size: 21px;
	width:94px;
}
.deal3{
	color: #ffffff;
    margin: -14.1% 1146px;
    position: absolute;
    font-size: 21px;
	width:94px;
}
.col-of-4-1
{
	width: calc(25% - 16px);
    padding: 8px;
    float: left;
    display: block;
}
	h1
	{
    text-align: left;
	}
	footer .social {
	    float: left;
	    width: 100%;
	}
.social-icon {
	float: left;
	width: 100%;
    margin-top: 12px;
}
	

		
	/**************
	menu part
	***************/
.close.menu{
	display: block;
	float: right;
	background-image: url(../images/close-icon.png);
	background-repeat: no-repeat;
	background-position: bottom right;
}
	
.menu-background-top{
	background-color:#996699;
	background-repeat: no-repeat;
	background-size: cover;
	background-size: 100% 100%;
	overflow:hidden;
	height: 100%;
}

.section-mid-menu
{   clear: both;
    margin-top: 0px;
    margin-left: 200px;	
}	

.section-mid-menu ul {
    padding: 0;
    width: 100%;
}

.text-big-menu {
	color: #ffffff;
	font-family: 'akkuratregular';
	font-size: 46px;
	padding: 0px;
	margin-bottom: 0px;
}

.text-big-bold-menu {
	color: #ffffff;
    font-family: 'akkuratbold';
    font-size: 18px;
    padding: 5px;
    float: right;
    margin-bottom: 10px;
	font-weight:normal;
	border-bottom:1px solid #ffffff;
}
li
{
	list-style:none;
}
.text-big-bold-menu li {
    float: right;
    width: 26%;
	    line-height: 35px;
}

ul.text-big-bold-menu a
{
    text-decoration: none;
    list-style: none;
    color: #ffffff;

}
ul.text-big-bold-menu a:hover
{
	text-decoration: underline;

}

	/**************
	inner page
	***************/

	.header{
	background-color:#996699;
	background-repeat: no-repeat;
	background-size: cover;
	background-size: 100% 100%;
	overflow:hidden;
	text-align: center;
	position: relative;
	}	
	.inner-logo{
	    display: inline-block;
	    float: none;
	    /* position: absolute; */
	    text-align: center;
	    /* height: 26px; */
	    margin: 0 auto;
	    width: 100px
	}
.inner-top-menu
{    display: block;
    float: right;
    list-style: none;
    /* margin-top: 0px; */
    padding: -1px;
    /* margin-left: 29px !important; */
    margin: 16px 35px;
}
   .float-right > a {
  color: #fff;
}
   .left-section
	{
		background-color:#714B5D;
		color: #fff;
		width:380px;
		height: 100%;
		float: left;
		overflow: scroll;
		padding: 0px 9px;
		box-sizing:border-box;
		position: fixed;
		left: 0;
		top: 0px;
		z-index: 9;
	}
	
	.right-arrow
	{
		    float: right;
    padding: 8px 0px;
    text-align: right;
	}
	.left-text-big {
    color: #ffffff;
    font-family: 'akkuratregular';
    font-size: 28px;
    padding: 0px;
    margin-bottom: 0px;
    margin-top: 0px;
	    text-align: center;
	}
	.price-text
	{
    color: #ffffff;
    font-size:  21px;
  padding: 0px 11px;
    margin-top: 0px;
    margin-bottom: 10px;
	}
	.checkbox-text
	{
		color: #ffffff;
	    line-height: 33px;
	    font-size: 17px;
	    padding: 5px 8px;
	    float: left;
	    width: 100%;
	    box-sizing: border-box;
	}

	/**************
	right section
	***************/
	
	.right-section
	{
	width: 100%;
    height: 100%;
    float: right;
    color: #000000;
    text-align: center;
    padding: 4px 0;
    /*padding: 4px 15px 0 400px;*/
    box-sizing: border-box;
	background: #fff;
    
	}
	.right-section-inner {
		margin: 0 auto;
		max-width: 800px;
		width: 100%;
	}
	.right-section-top {
	    background-color: #000000;
	    cursor: pointer;
	    width: 100%;
	    height: 100%;
	    float: right;
	    padding: 0px 0px;
	    margin: 0px 0px;
	    color: #ffffff;
	    text-align: center;
	    font-size: 20px;
	}
	.right-section-title
	{
		float:left;
		width:100%;
    
	}
	.right-section-title p {
    text-align: left;
    margin: 0;
    padding: 0;
	}
	
	.right-sec-title{
	font-size:22px; 
	font-family: 'akkuratbold';
	}

	.right-section-box

	{
		
	margin: 5px 3px 14px;
    float: right;
	width:100%;
	
	}
	.right-sec-details
	{	
	    border: 1px solid gray;
    width: 30%;
    float: left;
    padding: 6px 25px 0 5px;
    box-sizing: border-box;
    position: relative;
    text-align: left;
	}
	.deatils
	{
		font-size: 26px;
	    font-family: 'akkuratbold';
	    margin: 0;
	    text-align: right;
	}
	
	.right-section-box strike
	{
    color: red;
    text-align: right;
    width: 100%;
    float: left;
	}
	.price{
		    margin: 0;
    text-align: right;
	}
	.price-details
	{
	    font-size: 22px;
    font-family: 'akkuratbold';
    float: left;
    width: 100%;
    margin: 10px 0 0;
	}
	.price-info
	{
	    color: #f6992b;
	    margin: 7% 0px 20%;
	    text-align: center;
	    padding: 0;
	    font-size: 14px;
	}
	a.packages:hover {
	    background-color: #967ec0;
	}
	.packages
	{
		background-color: #967ea0;
	    margin: 0px;
	    width: 100%;
	    float: left;
	    font-size: 30px;
	    text-transform: uppercase;
	    text-align: center;
	    color: #ffffff;
	    line-height: 49px;
	    position: absolute;
	    left: 0;
	    bottom: 0;
	}
	.right-sec-preview {
	    float: right;
	    width: 70%;
	    position: relative;
	    overflow: hidden;
	}
	
	.right-sec-preview img {
	    width: auto;
	    float: none;
	    height: 100%;
	}

	h4.package-title {
	    position: absolute;
	    top: 0;
	    left: 0;
	    width: 100%;
	    background-color: rgba(0, 0, 0, .7);
	    color: #ffffff;
	    margin: 0;
	    line-height: 43px;
	    text-transform: uppercase;
	    font-size: 22px;
	    text-align: left;
	    padding: 0 12px;
	    width: 1;
	    box-sizing: border-box;
	}
	ul.package-end
	{
	    background-color: rgba(0, 0, 0, .7);
	    float: right;
	    position: absolute;
	    right: 0;
	    bottom: 0;
	    margin: 0;
	    padding: 0;
	}
	.package-end li
	{	
	    float: left;
	    padding: 12px;
	    margin: 0;
	}
	.package-end li a
	{
		color:#ffffff;
	}
	.select-package
	{
		position: absolute;
	    left: 10px;
	    bottom: 10px;
	    background-color: #000000;
	    padding: 3px 7px;
		
	}
	span.star-rating img {
	    width: 22px;
		float:none;
	}
	span.star-rating
	{
		display:inline;
	}
	.section-wrapper {
	    float: left;
	    width: 100%;
	    background: #000;
	    position: relative;
	}
	
	.right-section-box:last-child {
    	margin-bottom: 0;
	}
	
	.inner-footer-background{
		background-image: url(../images/footer-back.jpg);
		background-repeat: no-repeat;
		background-size: cover;
	}

	.float-left {
		float: left;
	}

	.float-right {
		float: right;
	}

	.daily-date {
	  float: left;
	  margin: 10px 0;
	  width: 100%;
	}

	.daily-date > ul {
	  margin: 0;
	  padding: 0;
	}

	.daily-date .daily-search {
	  border: 1px solid #ccc;
	  box-sizing: border-box;
	  cursor: pointer;
	  float: left;
	  margin-left: 1%;
	  padding: 3px;
	  width: 13%;
	}

	.daily-date .daily-search.active {
		border-top: 10px solid #000;
		margin-top: -10px;
	}

	.package-pagination {
	  float: left;
	  margin: 20px 0;
	  width: 100%;
	}

	.package-pagination > ul {
	  margin: 0 auto;
	  padding: 0;
	  width: 280px;
	}

	.package-pagination li.active {
	  background-color: #000;
	}

	.package-pagination li {
	  background-color: #ccc;
	  border-radius: 50%;
	  float: left;
	  line-height: 30px;
	  margin: 0 5px;
	  width: 30px;
	}

	.package-pagination li a {			  
		color: #fff;
		border-radius: 50%;
		display: block;
	}

	.package-pagination li.arrow {
	  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
	  font-size: 35px;
	}

	.package-pagination li.arrow a {
	  color: #000;		
	}

	.float-left.logo-title {
		color: #fff;
	    font-size: 20px;
	    left: 15px;
	    margin: 0;
	    position: absolute;
	    top: 15px;
	    padding: 15px;
	    cursor: pointer;
	}

	.rangeslider {
	  float: left;
	  width: 100%;
	}

	.rangeslider > label {
	  color: #fff;
	  float: left;
	  width: 100%;
	}

	.rangeslider > input {
	  box-sizing: border-box;
	  float: left;
	  margin: 0;
	  padding: 0;
	  width: 50%;
	}

	.float-left {
		float: left;
	}

	.float-right {
		float: right;
	}

	.theme-green .back-bar .pointer-label.high {
	    right: 0;
	    left: auto;
	}

	.theme-green.slider-container .back-bar .pointer-label {
	    background: none;
	    font-size: 17px;
	    top: 10px;
	}

	.back-bar {
	    margin: 30px;
	}

	.slider-container .scale {
	    display: none;
	}

	.package-pagination li:hover {
	    background: #000;
	}

	.package-wrapper {
	    margin: 0 -20px;
	    width: calc(100% + 20px);
	    overflow: hidden;
	}

	.scroll-nav {
	    position: fixed;
	    right: 20px;
	    top: calc(50% - 50px);
	    z-index: 99;
	}

	.scroll-nav ul {
	    padding: 0;
	    margin: 0;
	}

	.scroll-nav li {
	    cursor: pointer;
	    height: 15px;
	    width: 15px;
	    border: 2px solid #fff;
	    border-radius: 50%;
	    margin: 5px 0;
	    float: right;
	    clear: both;
	}

	.scroll-nav li.active {
	    border: 0 none;
	    height: 20px;
	    width: 20px;
	    padding: 0 2px 0 0;
	}

	.scroll-nav li img {
	    display: none;
	}

	.scroll-nav li.active img {
	    display: inline-block;
	}

	.header-logo {
		margin-bottom: 20px;
	}

	.footer-logo img {
		max-width: 85%;
	}

	#carousel img {
	    max-width: 100%;
	}

	.desktop-hidden {
	    display: none;
	}

	.logo-fixed {
		/*background-color: rgba(0,0,0,.6);*/
		box-sizing: border-box;
		float: left;
		padding: 20px;
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		z-index: 999;
	}

	.package-wrapper .elastislide-horizontal nav span.elastislide-next {
	    background-image: url(../images/right-arrow.png);
	    right: 0;
	    left: auto;
	    background-position: center center;
	    top: 0;
	    bottom: 0;
	    background-color: rgba(0,0,0,.5);
	    margin: 0;
	    height: 100%;
	    border-radius: 0;
	    width: 25px;
	}

	.package-wrapper .elastislide-horizontal nav span.elastislide-prev {
		left: 0;
	    right: auto;
	    background-position: center center;
	    top: 0;
	    bottom: 0;
	    background-color: rgba(0,0,0,.5);
	    margin: 0;
	    height: 100%;
	    border-radius: 0;
	    width: 25px;
	    background-image: url(../images/left-arrow.png);
	}
	.elastislide-wrapper.elastislide-horizontal {
	    margin: 0;
	    position: absolute;
	    bottom: 0;
	    left: 0;
	}
	.search-btn:hover {
	    background-color: #b189b1;
	}

	.checkbox-text input[type="checkbox"] {
	    vertical-align: top;
	    margin-top: 7px;
	}
	.checkbox-text label {
	    max-width: 120px;
	    /*width: 120px;*/
	    display: inline-block;
	}
	.main-menu-wrap {
	    float: left;
	    width: 100%;
	    position: fixed;
	    top: 0;
	    left: 0;
	    bottom: 0;
	    right: 0;
	    z-index: 999;
	}

	/****
	My Suitcase
	****/
	.mysuitcase-overlay {
		background-color: rgba(0,0,0,.4);
		position: fixed;
		left: 100%;
		bottom: 0;
		right: 0;
		top: 0;
		width: 100%;
		z-index: 999;
	}
	.page-wrapper.my-suitcase-wrap {
	    background-color: #2D293C;
	    bottom: 0;
	    overflow-y: scroll;
	    /*padding: 20px;*/
	    position: absolute;
	    right: 0;
	    top: 0;
	    width: 300px;
	    z-index: 999;
	}
	.page-wrapper.my-suitcase-wrap * {
	    box-sizing: border-box;
	}
	.my-suitcase {
	    float: left;
	    width: 100%;
	}
	.suitcase-head {
	    float: left;
	    width: 100%;
	    padding: 20px;
	}
	.float-left.suitcase-icon,
	.float-right.settings-icon {
	    cursor: pointer;
	}
	.suitcase-title {
	    float: left;
	    width: 100%;
	    min-height: 140px;
	    text-align: center;
	    padding: 30px 0;
	    background: url('../images/AdventureHoliday.jpg') no-repeat center center;
	    color: #fff;
	    background-size: cover;
	    position: relative;
	}
	.suitcase-controls {
		background-color: rgba(65,61,84,.7);
		bottom: 0;
	    float: left;
	    left: 0;
	    padding: 10px 20px;
	    position: absolute;
	    width: 100%;
	}
	.suitcase-controls img {
		cursor: pointer;
		float: left;
	    max-width: 100%;
	    /*width: 25px;*/
	}
	.suitcase-controls .float-left img {
		margin-right: 10px;
	}
	.deals-wrap {
	    float: left;
	    width: 100%;
	    padding: 10px;
	}
	.deal-title {
	    float: left;
	    width: 100%;
	    position: relative;
	}
	.deal-title span.close-icon {
	    position: absolute;
	    top: 50px;
	    left: 15px;
	    cursor: pointer;
	    width: 23px;

	    display: none;

	}
	.deal-title p.deal-price {
	    position: absolute;
	    right: 5px;
	    bottom: 5px;
	    padding: 5px;
	    background-color: rgba(0,0,0,.5);
	    box-shadow: 0px 0px 10px #000;
	    font-size: 25px;
	}
	input.view-package-btn:hover {
	    background: rgba(153,102,153,.8);
	}
	.view-package-btn {
	    background: #996699;
	    border: none;
	    font-size: 16px;
	    padding: 0px 5px;
	    color: #ffffff;
	    cursor: pointer;
	    box-sizing: border-box;
	    height: 50px;
	    width: 100%;
	    float: left;
	}
	.deal-details {
	    float: left;
	    width: 100%;
	    background-color: rgba(153,102,153,.5);
	    padding: 5px 5px;
	}
	.deal-title p {
	    color: #fff;
	    padding: 0 10px;
	    font-family: AkkuratRegular;
	    font-size: 22px;
	    margin: 0;
	    float: left;
	}
	.deal-title img {
	    max-width: 100%;
	    width: 100%; 
	    float: left;
	}
	.deal-title span.star-icon {
	    float: right;
	}
	span.star-icon img {
	    width: 20px;
	    margin-right: 5px;
	}
	.deal-desc {
	    float: left;
	    width: 100%;
	}
	.deal-date,
	.view-deal {
	    float: left;
	    width: 100%;
	}
	.deal-date img,
	.view-deal img {
		float: left;
		max-width: 100%;
		width: 100%;
	}
	.deal-block {
	    float: left;
	    width: 100%;
	    margin-bottom: 20px;
	}
	#side-search.visible {
    	left: 0;
	}
	#side-search {
		background: #714B5D;
	    position: fixed;
	    left: -100%;
	    top: 0;
	    width: 380px;
	    -webkit-transition: left .5s;
	    transition: left .5s;
	    z-index: 9999;
	    bottom: 0;
	    overflow: scroll;
	}
	.side-button-trans {
	    background-color: #ffffff;
	    color: #000000;
	    clear: right;
	    display: block;
	    padding: 0px 15px;
	    font-size: 26px;
	    width: 100%;
	    float: left;
	    margin-right: 5px;
	    text-align: center;
	    -moz-box-sizing: border-box;
	    box-sizing: border-box;
	    height: 100px;
	    line-height: 100px;
	}
	#side-search form.form-search {
	    background-color: #2d283c;
	    box-sizing: border-box;
	    padding: 20px 20px 30px;
	    text-align: center;
	    width: 100%;
	}
	input#side-search-btn-hajj, input#side-search-btn-umrah {
	    width: 100%;
	    border: 0 none;
	    /* background: #fff; */
	    padding: 0 15% 0 0px;
	    border-radius: 3px;
	    margin: 10px 0 20px;
	    height: 120px;
	    background-position: 80% center;
	}
	#side-search .full-width.centered-text {
		box-sizing: border-box;
		margin: 20px 0;
	    text-align: center;
	    width: 100%;
	}
	#side-search label {
		color: #fff;
	    float: left;
	    font-size: 20px;
	    margin: 5px 0;
	    text-align: left;
	    width: 100%;
	}
	#side-search select {
		-moz-appearance: none;
	    -webkit-appearance: none;
	    appearance: none;
	    background-color: #fff;
	    border: 0;
	    border-radius: 0;
	    -webkit-box-sizing: border-box;
	    -moz-box-sizing: border-box;
	    box-sizing: border-box;
	    color: #000;
	    cursor: pointer;
	    display: block;
	    height: 40px;
	    font-family: AkkuratRegular,sans-serif;
	    -webkit-font-smoothing: antialiased;
	    -moz-osx-font-smoothing: grayscale;
	    font-smoothing: antialiased;
	    font-size: 17px;
	    min-width: 50px;
	    outline: 0;
	    padding: 7px 25px 7px 7px;
	    position: relative;
	    text-align: left;
	    width: 100%;
	}

	footer ul li a {
	    font-size: 18px;
	}

	footer h1 {
	    font-size: 24px;
	}
	.deal-date {
	    display: none;
	}



	/**************
	Agency form Start
	***************/
	
	.agency.section-wrapper {
	    margin: 30px 0;
	}
	.content-section-top {
		background-color: #000000;
	    cursor: pointer;
	    width: 100%;
	    height: 100%;
	    display: inline-block;
	    padding: 0px 0px;
	    margin: 0px 0px 20px;
	    color: #ffffff;
	    text-align: center;
	    font-size: 20px;
	}
	.center-section-formbox
	{
		border: 1px solid #986699;
	    margin: 0px auto;
	    padding: 0px 18px;
	    width: 90%;
	    /* float: left; */
	    max-width: 940px; 
	}	
	.center-section-title
	{
		text-align:center;
		display: inline-block;
    	width: 100%;
	}
	
	.center-section-left {
		line-height: 35px;
	    width: 39%;
	    display: inline-block;
	}
	.center-section-right {
	    line-height: 46px;
	    width: 60%;
	    display: inline-block;
	}
	.center-section-right input[type="text"],
	.center-section-right select {
	    width: 100%;
	    height: 30px;
	    max-width: 300px;
	    display: block;
	}
	form.checkbox-text a {
	    font-size: 30px;
		color: #986699;
	}
	.center-section-formbox .center-section-left {
	    text-align: left;
	    padding-left: 35px;
	    box-sizing: border-box;
	}
	.content-section {
		width: 100%;
	    height: 100%;
	    float: right;
	    color: #000000;
	    text-align: center;
	    padding: 4px 0;
	    /* padding: 4px 15px 0 400px; */
	    box-sizing: border-box;
	    background: #fff;
	}
	.section-row {
		color: #000;
		height: 35px;
		float: left;
		margin: 5px 0;
		width: 100%;
	}
	.center-section-right .section-row {
	    text-align: left;
	}
	
	/**************
	Agency form end
	***************/
	

			/**************
	View Packages start
	***************/
.top-section	  
	  {
	
    margin: 20px 2%;
    padding: 0px 18px;
    width: 96%;
  	border-radius: 8px;
  	float: left;
  	box-sizing: border-box;
	  }

	.top-package-left { 
    top: 0;
    left: 0;
    width: 50%;
    color: #000000;
    margin: 0px;
    line-height: 0px;
    text-transform: uppercase;
    text-align: left;
    padding: 0;
    box-sizing: border-box;
    float: left;
 }
.top-package-title
{
   font-size: 24px;
    
}
.top-package-duration
{
   text-transform: none; 
}
.top-package-right
{
float: right;
font-size: 22px;
width: 50%;
margin: 0px;
padding: 20px 0px 0;
text-align: right;
}
.package-right-price
{
color:#f54343;
font-size: 35px;
}



.package-detail
{
    margin: 10px 2%;
    padding: 0px;
    width: 96%;
  	border-radius: 8px;
  	float: left;
	
}
.package-detail-top
{
border-bottom: 1px solid #986699;
  	float: left;
  	width: 100%;
  	font-size: 19px;
}
.package-detail-top ul
{
 list-style-type: none;
    margin: 0;
    padding: 0;
}
.package-detail-top li.active 
{
    border: 0px;
}
.package-detail-top li
{
	display: inline-block;
	padding: 0px;
	/*border-right: 1px solid #986699;*/
    margin: 0px 5px 0px 0px;
    float: left;
}

.package-detail-top li a
{
color: #000000;
display: block;
    padding: 14px 13px;
    width: 200px;
    text-align: center;
}
.package-detail-top li a:hover
{
	background-color: #986699;
	border-radius: 8px 8px 0 0;
    color:#ffffff;
}
.package-detail-top .active a
{
background-color: #986699 !important;
    border-radius: 8px 8px 0px 0px;
    color:#ffffff;
}


.package-detail-content
{
	float: left;
	padding-bottom: 30px;
  	width: 100%;
}
.package-detail-content-left
{
	float: left;
  	width: 50%;	
  	padding: 7px 17px;
  	box-sizing: border-box;
}
.package-overview-title
{
 font-size: 20px;
    float: left;
        width: 100%;
}

.package-detail-content-right
{
	float: right;
  	width: 50%;	
  	height: 355px;
  	display: flex;
  	flex-direction:column;
  	justify-content:center;
  	padding: 0 20px;
    box-sizing: border-box;
}
.package-content-text
{
	text-align: justify;
}

.other-packages
{
	width:96%;
	float: left;
	padding: 0px 27px;	
	margin: 0px;
}
.other-packages-title
{
	font-size: 24px;
    float: left;
    width: 96%;
        margin-left: 17px;
}
.other-package-main-image
{
float: left;
	width:100%;	
	    margin: 0px;
    padding: 0px;
}
.other-package-image
{
	float: left;
	text-align: center;
    line-height: 15px;
        padding: 0px 4.3px;
}
p.other-packages-name {
    font-size: 18px;
    font-weight: 700;
}
.other-packages-price
{
	color:#f54343;
	font-size: 28px;
}

	/**************
	View Packages End
	***************/
	
	/**************
	Transport Start
	***************/
.airline-all-logo
{
	float: left;
	width: 100%;
}

.airline-logo-1 {
    margin: 0px;
    float: left;
    width: 100%;
}
.airline-logo-2 {
    margin: 0px;
    float: left;
   width: 100%;
}
.airline-logo-3 {
    margin: 0px;
    float: left;
    width: 100%;
}
.airline-all-logo img
{
    padding: 16px 29px;
}
		/**************
	Transport End
	***************/
	
		/**************
	Accomodation Start
	***************/
	


/**************
Accomodation End
***************/

/**************
Other Start
***************/
other-list
{
	float: left;
}	

	
		/**************
	other End
	***************/

.page-wrapper.view-package .section-wrapper {
	background-color: #fff;
}
.other-package-image {
    float: left;
    text-align: center;
    line-height: 15px;
    padding: 0px;
    width: calc(25% - 40px);
    box-sizing: border-box;
    margin: 30px 20px;
    cursor: pointer;
}
.main-inner {
    float: left;
    width: 100%;
    border: 1px solid #986699;
    border-radius: 8px;
    box-sizing: border-box;
}
.other-package-image img {
    max-width: 90%;
}
.top-section .main-inner {
    padding: 0 18px;
}
img {
    max-width: 100%;
}

/**************
Media Query 
***************/

@media screen and (max-width: 1300px) {
	.heading-bold {
	    font-size: 40px;
	    line-height: 40px;
	}
	.p-padded {
	    width: 100%;
	    margin: 10px 0 15px;
	    font-size: 22px;
	}
	.second-footer-menu1, .second-footer-menu2 {
		font-size: 20px;
	}
}

@media screen and (max-width: 1100px) {
	.packages {
		font-size: 20px;
	}
}

	
@media screen and (max-width: 1000px){
	.text-big, .text-big-bold {
		font-size: 40px;
	}
	.p-padded{
		font-size: 20px;
		width: calc(100% - 40px);
		margin-top: 0;
		padding: 10px;
	}
	.heading-bold {
	    font-size: 35px;
	    line-height: 35px;
	}
	.button-trans {
		padding: 15px;
	}
	footer h3 {
		font-size: 20px;
	}
	.footer-address, footer ul {
	    font-size: 16px;
	    line-height: 22px;
	}
	.search-page {
		padding: 0px !important;
	}
	.right-section {
		padding: 4px 15px;
	}
	.left-section {
		left: -100%;
	}
}

@media screen and (max-width: 940px){
	.search-form {
	    width: 100%;
	    box-sizing: border-box;
	}
	.search-btn {
	    margin: 20px 0px 10px;
	    box-sizing: border-box;
	    width: 100%;
	}
	form.form-search, .newsletter input[type=text] {
		width: 100%;
	}
	form.newsletter {
		padding-right: 10%;
	}
	.newsletter input[type=submit] {
		margin: 10px 0 0;
		width: 100%;
	}
	form.get-deal {
		margin: 20% 0;
	}
	.circ {
		margin: 28% auto;
	}
}


@media screen and (max-width: 848px){
	.section-mid .text-big,.section-mid .text-big-bold{
		text-align: center;
	}
}

@media screen and (max-width: 800px){
	.search-form{
		/*width: calc(100% - 24px);*/
	}
	.search-btn{
		width: 100%;
		padding: 20px;
		margin: 6px 0px;
	}
}

@media screen and (max-width: 767px){
	body {
	    float: left;
	    width: 100%;
	}
	.desktop-hidden {
		display: block;
	}
	.mobile-hidden {
		display: none;
	}
	.content-wrapper.section-full-screen {
	    overflow: visible;
	    position: relative;
	    width: 100%;
	    padding-top: 0;		
	}
	.content-wrapper.section-02,
	.content-wrapper.section-03 {
	    height: auto !important;
	}
	.scroll-nav {
	    display: none;
	}
	.search-btn {
	    width: 300px;
	    padding: 0 15px;
	    margin: 6px 0px 40px;
	    height: 120px;
	    line-height: normal;
	}
	.section-mid .text-big, .section-mid .text-big-bold {
	    text-align: left;
	}
	.col-of-4-34p {
	    width: calc(100% - 2px);
	    padding: 1px;
	    float: left;
	    display: block;
	    text-align: center;
	}
	.full-width {
	    box-sizing: border-box;	    
		width: 100%;
		text-align: center;
	}
	.big-background-top {
		background-position: center;
		background-size: initial;
	}
	.circ {
		margin: 75px auto;
	}
	form.get-deal {
		margin: 15% 0;
	}
	div#mobile-search {
	    background: rgba(0,0,0,.7);
	    position: fixed;
	    left: -100%;
	    top: 0;
	    width: 80%;
	    -webkit-transition: left .5s;
	    transition: left .5s;
	    z-index: 9999;
	    bottom: 0;
	    overflow: scroll;
	}
	div#mobile-search.visible {
		left: 0;
		background-color: #2d283c;
	}
	.mobile-button-trans {
		background-color: #ffffff;
	    color: #000000;
	    clear: right;
	    display: block;
	    padding: 0px 15px;
	    font-size: 26px;
	    width: 100%;
	    float: left;
	    margin-right: 5px;
	    text-align: center;
	    -moz-box-sizing: border-box;
	    box-sizing: border-box;
	    height: 100px;
    	line-height: 100px;
	}
	a.umrah.mobile-button-trans {
	    background-color: #f4f3f3;
	}

	.mobile-search-form label {
	    color: #fff;
	    float: left;
	    font-size: 20px;
    	margin: 5px 0;
    	text-align: left;
	    width: 100%;
	}
	form.form-search {
		text-align: center;
		background-color: #2d283c;
    	padding: 20px 20px 30px;
    	box-sizing: border-box;
	}
	input#mobile-search-btn-hajj,
	input#mobile-search-btn-umrah {
	    width: 100%;
	    border: 0 none;
	    /*background: #fff;*/
		padding: 0 15% 0 0px;
	    border-radius: 3px;
	    margin: 10px 0 20px;
	    height: 120px;
	    background-position: 80% center;
	}
	.full-width select {
	    /*font-size: 20px;
	    padding: 7px 20px;
    	border-radius: 5px;*/

    	-moz-appearance: none;
	    -webkit-appearance: none;
	    appearance: none;
	    background-color: #fff;
	    border: 0;
	    border-radius: 0;
	    -webkit-box-sizing: border-box;
	    -moz-box-sizing: border-box;
	    box-sizing: border-box;
	    color: #000;
	    cursor: pointer;
	    display: block;
	    height: 40px;
	    font-family: AkkuratRegular,sans-serif;
	    -webkit-font-smoothing: antialiased;
	    -moz-osx-font-smoothing: grayscale;
	    font-smoothing: antialiased;
	    font-size: 17px;
	    min-width: 50px;
	    outline: 0;
	    padding: 7px 25px 7px 7px;
	    position: relative;
	    text-align: left;
	    width: 100%;
	}

	.full-width.centered-text {
	    margin: 20px 0;
	}
	.col-of-4-20p,
	.col-of-4-23p {
	    width: calc(100% - 2px);
	    text-align: center;
	}
	.second-footer-menu1,
	.second-footer-menu2 {
		border: 0 none;
		padding: 0;
		min-height: 1px;
	}
	.second-footer-menu2 {
		margin: 0;
	}
	.col-of-4-23p {
		padding: 0 8px;
	}
	footer h1 {
	    text-align: center;
	}
	form.newsletter {
		padding-right: 0;
	}
	.page-wrapper {
		float: left;
	}
	.content-wrapper.big-background-top.section-full-screen.section-01 {
	    padding-top: 100px;
	}
	.logo-fixed {
		/*background-color: rgba(0,0,0,.6);*/
		position: absolute;
	}
	.section-mid-menu {
		margin: 0;
	}
	.text-big-bold-menu li {
	    float: right;
	    width: 50%;
	    line-height: 35px;
	    text-align: center;
	}
	.menu-background-top {
	     overflow: auto;
	     height: auto;
	}
	.main-menu-wrap {
		overflow: scroll;
	}
}

@media screen and (max-width: 639px){
	.circ {
	    margin: 20% auto;
	}
	.daily-date {
	    display: none;
	}
	.right-sec-preview,
	.right-sec-details {
	    width: 100%;
	    height: auto !important;
	}
	.right-sec-preview img {
	    width: 100%;
	    float: left;
	    height: auto;
	}
	.price-info {
	    margin: 0 0px 70px;
	    padding: 0;
	    font-size: 14px;
	}
	.left-section {
		width: 80%;
	}
	.left-text-big {
		font-size: 22px;
	}
	.price-text {
		font-size: 18px;
	}
	.checkbox-text {
	    color: #ffffff;
	    line-height: 28px;
	    font-size: 12px;
	    padding: 5px 5px;
	    float: left;
	    width: 100%;
	    box-sizing: border-box;
	}
	.top-menu {
	    float: none;
	    margin: auto;
	    text-align: center;
	    width: auto;
	    position: absolute;
	    top: 0;
	    right: 0;
	    padding: 15px 5px;
	}
	.inner-logo {
	    display: block;
	    float: none;
	    position: static;
	    text-align: center;
	    height: auto;
	}

	.top-menu li a {
    	font-size: 0;
    	line-height: 20px;
    }
    .search-btn {
    	width: 100%;
    }
    .page-wrapper.my-suitcase-wrap {
    	width: 80%;
    }
    .big-background-top .clearfix {
	    display: none;
	}
	.text-big, .text-big-bold {
	    font-size: 30px;
	}
	.left-section,
	#side-search {
		width: 80%;
	}	
}

@media screen and (max-width: 530px){
	.circ {
		/*border: 0 none;
	    background: none;*/
	    margin: 10% auto;
	    font-size: 13px;
	    padding: 20% 0;
	}
	.logo{
		float: none;
		display: block;
		margin: 0 auto;
		text-align: center;
	}
	.get-deal input {
	    display: block;
	    width: 70%;
	    margin: 10px auto 0;
	    height: 20px;
	    font-size: 12px;
	    line-height: 15px;
	    background-color: #666;
	    border: 1px solid #333;
	    padding: 3px 10px;
	    border-radius: 5px;
	    box-sizing: border-box;
	    color: #fff;
	}
}

@media screen and (max-width: 480px){
	.button-trans{
		width: calc(50% - 35px);
		font-size: 21px;
	}
	form.get-deal {
	    margin: 10px 0;
	}
	.circ {
		height: 90px;
		width: 90px;
	}
	.get-deal input {
		margin-top: 0;
	}
}